# 線形サポートベクターマシン (SVM)

マージン最大化、つまり他クラスと最も近い位置にいるもの同士(サポートベクトル)を基準として、そのユークリッド距離を最大化するように識別面を定める。境界を引くときに必要なデータはサポートベクトルだけになる。
決定境界が非線形にできる。特徴量が増えると(次元が多くなるほど)計算量が膨大、ただ次元が増えても精度は悪くない。

In [1]:
import pandas as pd
pd.options.display.float_format = '{:.4f}'.format

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
train.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.9000,3.0000,4.2000,1.5000,1
1,5.8000,2.6000,4.0000,1.2000,1
2,6.8000,3.0000,5.5000,2.1000,2
3,4.7000,3.2000,1.3000,0.2000,0
4,6.9000,3.1000,5.1000,2.3000,2

In [3]:
X_train = train.iloc[:,0:4]
y_train = train.iloc[:,4]
X_test = test.iloc[:,0:4]
y_test = test.iloc[:,4]

## 標準化

In [4]:
from sklearn.preprocessing import StandardScaler

scl = StandardScaler()
scl.fit(X_train) #学習用データで標準化

X_train_std = scl.transform(X_train)
X_test_std = scl.transform(X_test)

In [5]:
pd.DataFrame(X_train_std).describe()

             0        1        2        3
count 112.0000 112.0000 112.0000 112.0000
mean    0.0000   0.0000   0.0000  -0.0000
std     1.0045   1.0045   1.0045   1.0045
min    -1.8291  -2.4221  -1.5042  -1.4438
25%    -0.9068  -0.5798  -1.2392  -1.1868
50%    -0.0998  -0.1193   0.2530   0.0987
75%     0.7071   0.5716   0.7830   0.8700
max     2.3211   3.1047   1.7313   1.6413

## SVMの学習